* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 250px;
    height: 150px;
    transition: all .2s ease-in-out;
    display:block;
    margin:auto;
}
img:hover { 
    transform: scale(1.1); 
}

h2 {
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-bottom: 0.4em;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    display: flex; 
    padding: 0.5em;
    width: 100%;
}

@media all and (min-width: 40em) {
    .list-item {
        width: 50%;
    }
}

@media all and (min-width: 60em) {
    .list-item {
        width: 33.33%;
    }
}

.list-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.gameSearch {
    text-align: center;
}

input[type=text] {
    text-align: center;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    text-align: center;
    width: 20%;
    background-color: rgb(62, 221, 126);
    color: rgb(54, 53, 53);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}